@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');



.container_header{
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
}

.header{
    background: #55d6aa;
    height: 60px;
    width: 100%;
    margin: 0 auto; 
    max-width: 1920px;
}


header::after{
    content: '';
    display: table;
    clear: both;
}


nav {
    float:inline-start;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 15px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;  
}

footer {
    width: 100%;
    height: auto;
    background: #55d6aa;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

footer a {
    color: rgb(23, 86, 168);
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

footer a:hover {
    border-bottom: 1px solid #444;
}


body{
    margin: 0 auto;
    max-width: 1920px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-image: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
   background-blend-mode: multiply;
}


@keyframes ava-animate {
    0% {
        border-radius: 31% 69% 55% 45% / 70% 28% 72% 30%;
    }
    15% {
       border-radius: 64% 36% 29% 71% / 53% 27% 73% 47%; 
    }

    25% {
        border-radius: 75% 25% 75% 25% / 71% 54% 46% 29%;
    }

    45% {
        border-radius: 69% 31% 91% 9% / 17% 74% 26% 83%;
    }
    60% {
        border-radius: 26% 74% 73% 27% / 76% 45% 55% 24%;
    }
    85% {
        border-radius: 12% 88% 23% 77% / 94% 16% 84% 6%;
    }
    100% {
        border-radius: 25% 75% 16% 84% / 40% 40% 60% 60%;
    }
}

.photo-container {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.photo{
  margin-top: 70px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  border: 5px solid #55d6aa;
  width: 250px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  animation: ava-animate 15s infinite alternate; 
  background-position: 100%;
}


pre {
margin: 0 auto;
}

.name-work-position{
    padding: 30px;
    text-align: center;
    color: #fff;
}

.name{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

.job_position{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.4;
}
.main{
    margin: 0 auto;
    max-width: 1440px;
    color: #cce2d4;
    align-items: center;

}

.main-container {
    padding-top: 150px;
    color: #cce2d4;
}

.block {
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    max-width: 1440px;
}

.section {
    width: 600px;
    height: 350px;
    margin-bottom: 100px;
    border: 3px solid #55d6aa;
    border-radius: 20px;
}

.section-name {
    text-align: center;
    font-size: 25px;
}

.bold-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-text {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
}

.section-text pre {
    margin-top: -20px;
    height: 58px;
    color: #8fd3f4;
}

#section-about-me {
    overflow: auto;
    height: 110px;
}

#section-education {
    overflow: auto;
    height: 110px;
}

.skill-container {
width: 90%;
margin: 0px 10px;
}

.container-skills {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #cce2d4;
    font-size: 10px;
    margin: 0;
}

.prog{
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    border: 1px solid #55d6aa;
    
}

.prog div{
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.prog div span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #55d6aa;
    float: right;
    margin-top: -10px;
    margin-right: -20px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.html{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
     animation: html 1s linear forwards;
}

.css{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
     animation: css 1s linear forwards;
}

.javascript{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
     animation: javascript 1s linear forwards;
}

.english{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
     animation: english 1s linear forwards;
}

@keyframes html{
    100% {
        width: 25%;
    }
}

@keyframes css{
    100% {
        width: 20%;
    }
}

@keyframes javascript{
    100% {
        width: 10%;
    }
}

@keyframes english{
    100% {
        width: 70%;
    }
}


@media (max-width: 1440px) {
    .photo {
width: auto;
    }
}

@media (max-width: 960px) {
    .header {
font-size: 13px;
width: auto;
height: 80px;
    }
}

@media (max-width: 1260px) {
    .section {

width: auto;
width: 400px;
    }
}

@media (max-width: 1260px) {
    .section-text {

width: auto;
font-size: 10px;
    }
}

@media (max-width: 870px) {
    .block {

width: auto;
display: inline-block
    }
}

